Data/
__pycache__/
Embeddings/
t.ipynb
dist/
*.egg-info/
SavedEmbeddings/
examples_test/
.env
gptopic
examples/saved_embedidngs
=4.2.0
tough-times.ipynb
.gitignore
topicgpt-venv
examples/topic_objs.pkl
examples/truncated_docs_topic_objs.pkl
examples/BERTopic_20Newsgroups_openai.zip